:root{
	--main-txt-font-family: Roboto, sans-sefir;

}
.links{
	text-decoration: none;
}
.list {
	list-style: none;
}
body {
	background-color: #f5f5f5;
	color: #757575;
	font-family: var(--main-txt-font-family);
}

.logo {
	color: #2196F3;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.logo-head{
	color: #000000;
}
/* Header */
.header{
	background-color: #FFFFFF;
}
.site-nav .link {
	color: #212121;
}
.contacts .mail,
.contacts .tel{
	color: #757575;
}
.site-nav .links:hover,
.site-nav .links:focus,
.contacts .links:hover,
.contacts .links:focus{
	color: #2196F3;
}

/* Hero */
.hero{
	color: #FFFFFF;
	background-color: #2F303A;
}
.hero-bt{
	background-color: #2196F3;
	color: #FFFFFF;
	cursor: pointer;
	font-family: inherit;
}



/* Особливості */
.list-feature-title{
	color: #212121;
}
/* Діяльність */

.activity-title{
	color: #212121;
}

/* Наша команда */

.team-title{
	color: #212121
}
.team {
	background-color: #F5F4FA;
}
.team-list h3{
	color: #212121;
}

/* Footer */
.footer {
	background-color: #2F303A;
}
.footer-logo{
	color: #2196F3;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.footer-logo-head{
	color: #FFFFFF;
}
.footer-address{
	color: #FFFFFF;
}
.footer-address-mail,
.footer-address-tel{
	color: rgba(255, 255, 255, 0.6);;
}
.footer-address:hover,
.footer-address:focus,
.footer-address-mail:focus,
.footer-address-mail:hover,
.footer-address-tel:hover,
.footer-address-tel:focus{
	color: #2196F3;
}

/* ПОРТФОЛІО */
.main{
	background-color: #FFFFFF;
	color: #757575;
}
/* Main */

.main-list-item{
	background-color: #F5F4FA;
	color: #212121;
	cursor: pointer;
	font-family: inherit;
}
.main-list-item:hover,
.main-list-item:focus{
	background-color: #2196F3;
	color: #FFFFFF;
}
.list-works-item h3{
color: #212121;
}